body {
  padding-top: 70px;
}

.navbar {
  background-color: #651FFF;
  color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
  color: #FFD600;
}

.navbar .nav > li > a {
  color: #FFFFFF;
}

.navbar .nav > li > a:hover {
  color: #FFD600;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header {
    margin-bottom: 30px;
  }
}
