body {
  padding: 0;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
  color: #777;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }
}
