body {
  background-color: #E1F5FE;
}

.navbar {
  background-color: #0091EA;
  color: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  position: fixed;
  border-color: #0091EA;
  border-width: 0 0 0;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-brand:hover {
  color: #FFD600;
}

.navbar .nav > li > a {
  color: #FFFFFF;
}

.navbar .nav > li > a:hover {
  color: #FFD600;
}

header {
  text-align: center;
  background-color: #E1F5FE;
}

header .container-fluid {
  padding-top: 100px;
  padding-bottom: 25px;
}

.header-text {
  font-size: 3.5em;
  font-weight: 100;
}

#canvas-container {
  text-align: center;
  padding-bottom: 40px;
}

.canvas-text {
  font-size: 1.5em;
  font-weight: 200;
  padding-bottom: 5px;
}

#drawing-canvas {
  background-color: #FFFFFF;
  width: 600px;
  height: 400px;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header {
    margin-bottom: 30px;
  }
}
